<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
    <title>Sun</title>
</head>
<body>
    <div class="container">
        <div class="panel">
            <button class="On">On</button>
            <button class="Off">Off</button>
            <br>
            <br>
            <button class="moveLeft"><</button>
            <button class="moveRight">></button>
        </div>
        <div class="sunBox">
            <div class="sun"></div>
        </div>
        <div class="cubeG">
            <div class="cubeL"></div>
            <div class="cubeSelected"></div>
            <div class="cubeR"></div>
        </div>
    </div>
    <script src="/main.js"></script>
</body>
</html>